.container {
  padding-top: 2rem;
}

.yearContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px 0;
}

.year {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.yearContainer button {
  margin-left: auto;
  background: transparent;
  border: none;
  color: #959595;
  padding-right: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.today {
  visibility: hidden;
  user-select: none;
}

.calendar {
  display: flex;
  width: auto;
  padding: 15px 40px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.year {
  text-align: center;
  font-size: 1.7rem;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.month {
  text-align: center;
  font-size: 0.8rem;
  color: #c8c8c8;
  letter-spacing: 0.9px;
}

.listItem{
  align-items: center;
  border-radius: 10px;
  color: #d9d9d9;
  flex: 0 0 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}

.listItem:hover {
  background-color: var(--primary-color-hover);
}

.currentDay {
  background-color: #562dec;
  color: #FFF;
}

.selected {
  background-color: #878787;
}