---
import Layout from '../layouts/Layout.astro';
import { Calendar } from '../components/Calendar';
import { NewHabitModal } from '../components/NewHabitModal';
import { ToDoSection } from '../components/ToDoSection';
---

<Layout>
	<div class="flex flex-col h-screen">
		<div class="h-50 shrink-0">
			<Calendar client:only="solid-js" />
		</div>
		<div class="flex-1 relative">
			<ToDoSection />
		</div>
		
		<NewHabitModal client:only="solid-js"/>
	</div>
</Layout>

<script>
import { logger } from '@nanostores/logger'
import { isNewHabit } from '../store/new-habit.store'

	logger({
		'Profile': isNewHabit,
	})
</script>
