.modal {
  width: 50vw;
  height: 50vh;
  border-radius: 25px;
  border: none;
}

.modal::backdrop {
  backdrop-filter: blur(0.7px);
}

.modal[open] {
  animation: fadein 0.3s ease-in-out forwards;
}

@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


