<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		background-color: #1e1e1e;
	}

	::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
	
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}
	
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 8px;
		border-radius: 8px;
		background: #562dec; 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background: #562dec;
	}

</style>
