<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color-hover: #a997e7;
	}
	html {
		background-image: url(../assets/bg.svg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		-o-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: cover;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(12px);
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	button {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	h1, h2, h3, h4 {
		margin: 0;
		padding: 0;
	}

	p {
		margin: 0;
		padding: 0;
	}

	::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
	
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}
	
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 8px;
		border-radius: 8px;
		background: #8b8b8b; 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background: #8b8b8b;
	}

</style>
